*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif, 'Material Icons';
    color: #D3D3D3;
}

/*google fonts*/


 .material-symbols-outlined {
    color: #D3D3D3;
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 1
 }
 /*buttons*/
.button{
    display: flex;
    padding: .5rem;
    margin: .2rem;
    width: 3.2rem;
    min-width: 3.2rem;
    max-width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
    background: transparent;
    border: none;

}

.button:hover{
    transition: 0.5s;
    transform: translateY(-3%);
    background: #282c34;
}

/*body*/
body{
    background: radial-gradient(circle at 50% 50%, #282c34, #20232a);

}
.montserrat-h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
}

/*header*/
header{
    background: transparent;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem .5rem ;
    position: fixed;
    top: 0;
    z-index: 10;
    .titulo{
        color: #D3D3D3;
        text-align: left;
        padding-left: 0.5rem;
        justify-content: left;
        justify-items: left;
        margin: 1rem 2rem;
    }
    .div_header_right{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        width: 50%;
        margin-left: auto;
    }
    .search-container {
        position: relative;
        display: flex;
        align-items: center;
        border-radius:  30rem ;
        background: #3a3f4b;
        padding: 0 1rem;
        width: 100%;
        .search-bard {
            margin: 0 0.5rem;
            background: transparent;
            height: 2.5rem;
            flex-grow: 1;
            border: none ;
            color:  #87CEFA;
            outline: none;

            .search-bard::placeholder {
                color: #87CEFA;

            }
        }

    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #3a3f4b inset !important;
    -webkit-text-fill-color: #87CEFA !important;
    border: none !important;
    outline: none !important;
}
header.scrolled {
    background: radial-gradient(circle at 50% 50%,  rgba(40, 44, 52, 0.95), rgba(32, 35, 42, 0.95) );
    backdrop-filter: blur(30px);
    box-shadow: 0 4px 2px -2px #20232a;
    border-bottom: 1px solid #282c34;
}

.button_login{

    background-color: #3674B5;
    color: white;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: bold;
}
.cards_div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    background: transparent;
}
.cardsContainer{

    margin: 0 1rem 1rem;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;

}


.globalContainer{

    display: flex;
    flex-direction: column;

    align-content: center;
    align-items: center;

}

.studentCard{
    display: flex;
    flex-direction: column;
    width: 20rem;
    min-width: 20rem;
    margin: 1rem;
    border-radius: 1.5rem;
    background: #282c34;
    overflow: hidden;
    max-height: 30rem;
    cursor: pointer;
    position: relative;
    .profileImg{
        width: 100%;
        height: 15rem;
        object-fit: cover;
        position: relative;
        background: radial-gradient(circle at 50% 30%, #3a3f4b, #282c34);
    }

    .card_content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 9rem ;
        background: #3a3f4b;
        padding: 0.5rem;
        overflow: hidden;
    }

    /* pressed animation style*/
    .ripple {
        position: absolute;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        transform: scale(2);
        animation: rippleEffect 0.5s linear;
        pointer-events: none;
    }

    @keyframes rippleEffect{
        to {
            transform: scale(2);
            opacity: 0;
        }
    }
    .card_content p{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        padding-left: 0.5rem;
        margin-bottom: 0.2rem;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
    .div_card_buttons_top{
        display: flex;
        margin-left: auto;
        padding: 0.2rem;
    }
}


.div_card_buttons_top .button{
    padding: 0;
    max-width: 2rem;
    max-height: 2rem;
    min-width: 2rem;
    min-height: 2rem;
    border-radius: 100%;

}

.card_content .button{
    flex-direction: row;
    border-radius: 1.3rem;
    min-width: 37%;
    min-height: 2.5rem;
    margin: 0.3rem 0.2rem;
    object-fit: contain;
    padding: 0.5rem;
    border: 1px solid #282c34;
    align-items: center;
    justify-content: center;

}

.card_content div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_content div .material-symbols-outlined {
    font-size: 16px;

}
.card_content div label{
    padding: 0 0.4rem;
    font-size: 14px;
}
.card_content div span{
    margin: 0  0 0 0.5rem;
}
.card_content div .button{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin: 0.2rem;

}
.student-github{
    display: flex;
    padding: .5rem;
    margin: .2rem;
    border: 1px solid #282c34;
    width: 3.2rem;
    min-width: 3.2rem;
    max-width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
    background: transparent;

    .button_img{
        width: 50%;
        margin: 0.1rem;
        opacity: 0.7;
    }
}

.student-github:hover{
    transition: 0.5s;
    transform: translateY(-3%);
    background: #282c34;
}
.div_card_buttons_top .button .material-symbols-outlined{
    object-fit: contain;
    font-size: 18px;
}
.studentCard:hover{
    transition: 0.5s;
    transform: translateY(-1%);
    background: #3a3f4b;
    }
.nombre{
    font-weight: bold;
}
.boton{
    display: flex;
    padding: 0.4rem;
    margin-left: auto;
    margin-top: 0.5rem;
    background-color: #3674B5;
    border-radius: 0.3rem;
    border: 0.05rem solid #578FCA;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30%;
    align-content: center;

}

.Add_student_button{
    color: #3674B5;
    font-weight: bold;
}


.descripcion{
    display: flex;
    text-align: left;
    max-height: 5rem;
    overflow: hidden;
}
.title_card{
    margin-top: 6rem;
    color: #87CEFA;
    margin-left: 4rem;
    width: 100%;
}


.button_edit{
    position: absolute;
    right: 0.5rem;
    margin-top: 0.5rem;
    background-color: white;
    width: 10%;
    border-radius: 50%;
    padding: 0.3rem;
    opacity: 50%;
    border: none;
    box-shadow: 0 0 2px grey;
}

.div_card{
    display: flex;
    position: relative;
    overflow: hidden;
}
.img_button_edit{
    width: 100%;

}


.boton:hover{
    background-color: #578FCA;
    transition: 0.5s;
    transform: translateY(-1%);
}
.button:hover{
    transition: 0.5s;
    transform: translateY(-3%);
    
}
.button_edit:hover{
    transition: 0.5s;
    transform: translateY(-3%);
    opacity: 70%;
}

.registerBtn {

    border: none;
    color: rgba(166, 0, 255, 0.6);
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
    margin-top: 1rem;
}

.registerContainer_anim {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

@keyframes showRegister {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.registerContainer {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.registerShow_anim {
    animation: showRegister 1s forwards;
}

.registerHide_anim {
    animation: showRegister 1s forwards reverse;
}

.register{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 25px rgba(166, 0, 255, 0.6);
}

.registerForm {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 0 0;
    width:100%;
}

.registerForm input {
    height: 3rem;
    width: 100%;
    margin: 1rem 01rem 0;
    border: 1px solid rgba(166, 0, 255, 0.6);
    border-radius: 0.5rem;
    place-content: center;
    padding: 0.5rem;
}

.goBackBtn{
    border: none;
    color: #3674B5;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: 1rem;
}

.div_button_register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.div_register_input{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.div_left{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    width: 100%;
}
.div_right{
    display: flex;
    align-items: normal;
    align-content: normal;
    justify-content: initial;
    flex-direction: column;
    margin-left: 1rem;
    width: 100%;
}

.textarea_description{
    height: 30%;
    min-height: 5rem;
    max-height: 10rem;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    margin: 1rem;
border: 1px solid rgba(166, 0, 255, 0.6);
    border-radius: 0.5rem;
    padding: 0.5rem;
    overflow: auto;

}
.div_button_register{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
@media (max-width: 1000px){
    .cardsContainer{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .div_header_right{
        width: 100%;
    }
    .search-container{
        width: 100%;
    }
    header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .title_card{
        margin-top: 10rem;
        justify-content:center;
        text-align: center;
    }

}

